5aZTbBBpOzksfyuA.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a repository": {
      "main": [
        [
          {
            "node": "Dispatch a workflow event and wait for completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch a workflow event and wait for completion": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T03:42:59.623Z",
  "id": "5aZTbBBpOzksfyuA",
  "isArchived": false,
  "meta": null,
  "name": "GHA",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "aa70a383-cf7c-4f48-881a-1677bfb016ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Decubate-com",
          "mode": "list",
          "cachedResultName": "Decubate-com",
          "cachedResultUrl": "https://github.com/Decubate-com"
        },
        "repository": {
          "__rl": true,
          "value": "env-management",
          "mode": "list",
          "cachedResultName": "env-management",
          "cachedResultUrl": "https://github.com/Decubate-com/env-management"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        640,
        0
      ],
      "id": "00981101-ea13-401b-bac7-da3073ef6913",
      "name": "Get a repository",
      "webhookId": "af11a6f6-a648-4abf-b95a-38f10656aad9"
    },
    {
      "parameters": {
        "resource": "workflow",
        "operation": "dispatchAndWait",
        "owner": {
          "__rl": true,
          "value": "dinhdobathi1992",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "test-status",
          "mode": "name"
        },
        "workflowId": {
          "__rl": true,
          "value": 83878464,
          "mode": "list",
          "cachedResultName": ".github/workflows/gen-token.yml"
        },
        "ref": {
          "__rl": true,
          "value": "main",
          "mode": "list",
          "cachedResultName": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        860,
        0
      ],
      "id": "b479ca4b-1fb3-4bcd-a4db-d970250e9dde",
      "name": "Dispatch a workflow event and wait for completion",
      "webhookId": "4d2011cc-659d-40af-a5a8-f4f327f8356a"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/dinhdobathi1992/test-status/actions/runs/{{ $json.run_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        0
      ],
      "id": "629b0f01-a3cd-4ead-84f7-b0f00057aeea",
      "name": "HTTP Request"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "dinhdobathi1992",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T03:42:59.623Z",
  "versionId": "a1ea26b0-abb9-46b3-a693-2b6b634ac3fe"
}