BjrUeDFlZy1xN0nd.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Customer Datastore (n8n training)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-05T12:30:40.734Z",
  "id": "BjrUeDFlZy1xN0nd",
  "isArchived": false,
  "meta": null,
  "name": "Level2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "var output=$input.all()\n\nreturn output[0].json.results.map(\n  item => {\n    return {\n      json: item\n    }\n  }\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        720
      ],
      "id": "bb61beb7-6cfc-4074-918d-d668ae13fe5a",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        160
      ],
      "id": "bdfb52b8-45c2-4afa-b6e5-31b0cd6a74e9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        600
      ],
      "id": "71aa7caf-19cd-4c3b-8478-a8bd45d39fce",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1180,
        420
      ],
      "id": "7d2e47d1-ece7-4874-8ca6-15adc6c45e3d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://blog.n8n.io",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        920
      ],
      "id": "e8fd3fab-be04-4994-ba44-56003141f2ab",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".post .item-title a",
              "returnValue": "html"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1060,
        860
      ],
      "id": "93d091be-826d-4407-8aae-fa4ae3e64f0d",
      "name": "HTML"
    },
    {
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1340,
        560
      ],
      "id": "f59cb66c-b01c-4a0f-b447-6cd54590c94a",
      "name": "XML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1620,
        560
      ],
      "id": "c38a11da-0d82-4a0c-95cc-33acbfe5b75d",
      "name": "XML1"
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        980,
        1180
      ],
      "id": "931c5b28-f133-45c5-bf94-695ea75f2f68",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "operation": "roundDate",
        "date": "={{ $json.created }}",
        "mode": "roundUp",
        "outputFieldName": "new-date",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1200,
        1180
      ],
      "id": "2fac7150-67b2-4130-b1f4-d567c8a03815",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d333820e-21e0-4a4e-8fe6-27e32b91ec48",
              "leftValue": "={{ $json['new-date'] }}",
              "rightValue": "1960-01-01T00:00:00",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        1180
      ],
      "id": "1cdaf4f4-daae-41f5-8cf4-6d2b1b86a996",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1640,
        1080
      ],
      "id": "5cfb75c6-38ce-4a6d-82ff-6d996e6be351",
      "name": "Wait",
      "webhookId": "855b7d59-6fd7-4df7-872f-e0623885f25d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ec3a4e7-4caa-46e5-8f92-adae232ee313",
              "name": "new-date",
              "value": "={{ $json['new-date'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1860,
        1080
      ],
      "id": "ba44aade-f0f4-4ec3-a883-87cc529a0b15",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        780,
        1180
      ],
      "id": "3e244c78-d18b-45c5-baf0-82e6b52393a7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://media.kaspersky.com/pdf/Kaspersky_Lab_Whitepaper_Anti_blocker.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1220
      ],
      "id": "418a0f82-e3ff-45b9-9c50-e0f8656c8ac2",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        140,
        1220
      ],
      "id": "1159adba-49ca-4b7a-9cc8-e071a9caa949",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "url": "https://poetrydb.org/random/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1460
      ],
      "id": "55ac48af-78eb-4ade-99fd-af4b3cf799ec",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        120,
        1460
      ],
      "id": "bac29793-701a-4e19-80fb-55f2fe2b01ac",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/poetrydb.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        340,
        1460
      ],
      "id": "e014de89-56a0-407e-86ea-09e538b5fafa",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        560,
        1460
      ],
      "id": "59275399-497e-4f6c-b23f-3958cb93f282",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {},
      "id": "65d67f30-c33e-440b-9f3a-b69c33ff2b40",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        140,
        900
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "id": "4fcae63e-86b4-42dd-9aa1-c7f10612a780",
      "name": "Customer Datastore (n8n training)1",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -80,
        820
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    'name': 'Jay Gatsby',\n    'language': 'English',\n    'country': {\n      'code': 'US',\n      'name': 'United States'\n    }\n    \n  }\n  \n];"
      },
      "id": "fa602794-3e05-41e3-be5b-522c5f7452b5",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        980
      ]
    },
    {
      "parameters": {
        "jsCode": "let urls = [\n\t{\n\t\tjson: {\n\t\turl: 'https://medium.com/feed/n8n-io'\n\t\t}\n\t},\n\t{\n\tjson: {\n\t\turl: 'https://dev.to/feed/n8n'\n\t\t} \n\t}\n]\nreturn urls;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        -260
      ],
      "id": "513bc475-58c8-42c6-86c0-222d935caeab",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        -320
      ],
      "id": "02369fc9-9feb-4aef-b7d7-2e0a27be8d9f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -40,
        -300
      ],
      "id": "e0e5f8f1-9f17-4790-83c5-4b8fa33010a8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        575.273251521178,
        -558.3675847384276
      ],
      "id": "8e4d4fc9-38ff-482a-a813-a1cecc271f32",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -300
      ],
      "id": "45b6cb45-5212-4158-812e-00949f4e9124",
      "name": "RSS Read1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "dinhdobathi1992",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-06T12:12:14.831Z",
  "versionId": "f99d1fd1-5803-4d02-b0f4-eef6e17ba4de"
}