TRwxj3JxeNm3ix9Z.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T04:32:13.419Z",
  "id": "TRwxj3JxeNm3ix9Z",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        300
      ],
      "id": "feecde9c-a6b1-49c7-a7f6-b6de2427054c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "applRbx71jjfhrT4m",
          "mode": "list",
          "cachedResultName": "Level2",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m"
        },
        "table": {
          "__rl": true,
          "value": "tbljubfUwOZMZCI7c",
          "mode": "list",
          "cachedResultName": "Workflow1 - data",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m/tbljubfUwOZMZCI7c"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -460,
        300
      ],
      "id": "daa69384-d4f1-4bfd-9b72-da205b3e6f0e",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "o21Xv7T1U4JpyWpF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,region,subregion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        520
      ],
      "id": "2a5d9bd0-b1c1-42d1-b958-38377ccaeb97",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name.common"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -140,
        380
      ],
      "id": "acd2f041-5826-4c7d-a317-a3368311a2b1",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Update Records Node\n\nThis node updates the existing records in your Airtable 'customers' table.\n\n- It uses the `customerCountry` field from Airtable and `name.common` from the REST Countries API to match records.\n- The 'region' and 'subregion' fields in Airtable are updated with the corresponding data from the REST Countries API.\n- The update is performed based on the record ID (`id`) obtained from the merged data.",
        "height": 260,
        "width": 460
      },
      "name": "Update Records Explanation",
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.stickyNote",
      "id": "57933c40-a368-448c-a0be-463b9ba04cdc",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "applRbx71jjfhrT4m",
          "mode": "list",
          "cachedResultName": "Level2",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m"
        },
        "table": {
          "__rl": true,
          "value": "tblmgVpddxSQeK1ay",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m/tblmgVpddxSQeK1ay"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "customerID": "=",
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        80,
        380
      ],
      "id": "ae88e885-0c09-48fc-ad3c-e60800e23db2",
      "name": "Update record"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "dinhdobathi1992",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T04:32:13.419Z",
  "versionId": "de7ac082-d406-438d-8b7d-2f83c5c9aa89"
}