woCg5t3t8ODvnUmK.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "Discord3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T03:43:38.970Z",
  "id": "woCg5t3t8ODvnUmK",
  "isArchived": false,
  "meta": null,
  "name": "Level2 - wf3",
  "nodes": [
    {
      "parameters": {},
      "id": "c235e3a7-1559-4717-9c8e-d36c6d9252ce",
      "name": "When clicking \"Execute workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        100
      ]
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "cb672a6ecf3a03baf7835fe6d8c652f4"
            }
          ]
        },
        "options": {}
      },
      "id": "ea5c5826-99fe-4353-b121-4216ff18cde5",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "X8n0XYMaYkKJEGtS",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "customerID",
              "field2": "customerID"
            }
          ]
        },
        "options": {}
      },
      "id": "26b2b895-bf6b-463b-92d4-5a35e71971ed",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        220,
        100
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "643fba27-4602-4c74-b828-54c15411ed7d",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        440,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d3afe65c-7c80-4caa-9d1c-33c62fbc2197",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Americas",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b34595ef-aed8-4cb0-8767-7e0c94cc6711",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "=report_orderID_{{ $('If').item.json.orderID }}.json"
        }
      },
      "id": "dfcf94be-1d75-4d63-a5c0-4405a0dce5b5",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file using email with the label ID {{ $json.labelIds }}  and wrote the binary file {file name}. My ID: 10cafccc2c9103be95ce0087da382ba6",
        "options": {}
      },
      "id": "a007f515-5083-438c-96e6-a1ac99b5e419",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ],
      "webhookId": "d10bbdab-a74a-4b53-9327-9a1ceca547d4"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "76033c1f-bae0-4563-b6ce-14eb4206a23b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce839b80-c50d-48f5-9a24-bb2df6fdd2ff",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "0c613366-3808-45a2-89cc-b34c7b9f3fb7",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "0f19a88c-deb0-4119-8965-06ed62a840b2",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "a7e890d6-86af-4839-b5df-d2a4efe923f7",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "efcdb652-a905-4e80-b748-5b8ee18836ec",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.customerSince }}",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "4c30dfd3-d673-494e-8e1d-6592ac8d0359",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "id": "5b2fafa9-719b-4646-aca5-7f052c7e8932",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "I created the spreadsheet {file name}. My ID: 10cafccc2c9103be95ce0087da382ba6\n",
        "options": {}
      },
      "id": "f34bb164-33e7-4991-bb55-ea4482175eec",
      "name": "Discord1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ],
      "webhookId": "2ebc2e86-268b-46bb-a177-52aad78ddba9"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "applRbx71jjfhrT4m",
          "mode": "list",
          "cachedResultName": "Level2",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m"
        },
        "table": {
          "__rl": true,
          "value": "tblmgVpddxSQeK1ay",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m/tblmgVpddxSQeK1ay"
        },
        "options": {}
      },
      "id": "1dac074d-2706-4449-893e-ec959fa38dc9",
      "name": "Search records",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "o21Xv7T1U4JpyWpF",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "dinhdobathi3@gmail.com",
        "subject": "Your TPS Reports",
        "emailType": "text",
        "message": "Please find your TPS report attached.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "219347a6-0c0a-4e33-a379-040ce5d7db25",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        0
      ],
      "webhookId": "33635a62-7bd2-42c4-88b8-dbf5337bef73"
    },
    {
      "parameters": {
        "sendTo": "bart@n8n.io",
        "subject": "Your TPS Reports",
        "emailType": "text",
        "message": "Please find your TPS report attached.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "5155d1f9-b804-41dd-b820-0d7eeda3b26b",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1640,
        560
      ],
      "webhookId": "0a7fe4f1-b516-42e5-a46b-6e650098e077"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "cb672a6ecf3a03baf7835fe6d8c652f4"
            }
          ]
        },
        "options": {}
      },
      "id": "f1ee48ff-25ea-4ad5-af99-3d5e54d95313",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        540,
        560
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "X8n0XYMaYkKJEGtS",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "customerID",
              "field2": "customerID"
            }
          ]
        },
        "options": {}
      },
      "id": "4aca8bbb-01fa-47db-9d39-8ee15ad224ce",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        760,
        660
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "1df3c214-7439-4576-818b-24318a827548",
      "name": "Sort1",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        980,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d3afe65c-7c80-4caa-9d1c-33c62fbc2197",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Americas",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f2b8bb8-de29-4009-a02e-f6197eff6350",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        560
      ]
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "fileName": "=report_orderID_{{ $('If1').item.json.orderID }}.json"
        }
      },
      "id": "afb1ca89-8f65-431f-993d-a0ea80dd757e",
      "name": "Convert to File2",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1420,
        560
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "I sent the file using email with the label ID  and wrote the binary file {file name}. My ID: 123",
        "options": {}
      },
      "id": "d37add6b-00ff-47e2-bb71-2c4942350df2",
      "name": "Discord2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1860,
        560
      ],
      "webhookId": "3e7ca891-4ee7-441d-b25a-a7e89f83744e"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "6fd1d0b3-6114-45b9-b8a5-6ac19d791579",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ce839b80-c50d-48f5-9a24-bb2df6fdd2ff",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "0c613366-3808-45a2-89cc-b34c7b9f3fb7",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "0f19a88c-deb0-4119-8965-06ed62a840b2",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "a7e890d6-86af-4839-b5df-d2a4efe923f7",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "12310ffe-c1d1-4f84-b70e-57f25b79f88c",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1420,
        760
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.customerSince }}",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "5cb7fe6e-2303-4120-96c2-df9cf0dacbb4",
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1640,
        760
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "id": "02065ed0-abfb-48ab-9447-e1072a69ca90",
      "name": "Convert to File3",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1860,
        760
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "I created the spreadsheet {file name}. My ID: 123",
        "options": {}
      },
      "id": "474892f4-5a35-4c55-b2ef-c974359ca9dc",
      "name": "Discord3",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2080,
        760
      ],
      "webhookId": "3f16f3b1-794a-49d1-af25-6230588e9523"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "applRbx71jjfhrT4m",
          "mode": "list",
          "cachedResultName": "Level2",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m"
        },
        "table": {
          "__rl": true,
          "value": "tblXbwWVs5TNeVO8f",
          "mode": "list",
          "cachedResultName": "customer_data",
          "cachedResultUrl": "https://airtable.com/applRbx71jjfhrT4m/tblXbwWVs5TNeVO8f"
        },
        "options": {}
      },
      "id": "edf81ead-3a83-4579-8113-0ceb4be59344",
      "name": "Search records1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        540,
        760
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "o21Xv7T1U4JpyWpF",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "dinhdobathi1992",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-19T04:27:54.714Z",
  "versionId": "8880e744-256e-44d2-98be-ceacdf447b50"
}